@model Membership_App.Entities.Part
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Create";
}
    <div class="container">


        <h2>Create</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Part</h4>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">


                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })

                    <div class="col-md-10 col-sm-10">
                        @Html.EditorFor(model => model.Title,
                            new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    @PlaceHolder = "Section Title"
                                }
                            })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>



        }


        <a class="btn btn-primary btn-sm" href="@Url.Action("Index")">
            <span class="glyphicon glyphicon-list"></span>
            <span>Back to List</span>
        </a>



    </div>