@model Membership_App.Entities.Item
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>



<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Description)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </dd>
        <dt>
            @Html.LabelFor(model => model.Url)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.Url)</p>
        </dd>
        <dt>
            @Html.LabelFor(model => model.ImageUrl)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.ImageUrl)</p>
        </dd>
        <dt>
            @Html.LabelFor(model => model.HTML)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.HTML)</p>
        </dd>
        <dt>
            @Html.LabelFor(model => model.WaitDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaitDays)
        </dd>
        <dt>
            @Html.LabelFor(model => model.ItemTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemTypes.FirstOrDefault().Title)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Sections)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sections.FirstOrDefault().Title)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Parts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parts.FirstOrDefault().Title)
        </dd>
        <dt>
            @Html.LabelFor(model => model.IsFree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFree)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />

    </div>

}

<hr />
<div class="form-actions no-color">


    @Html.Partial("_BackToListButton")
</div>